{
  "openapi": "3.1.0",
  "info": {
    "title": "Pepo API",
    "version": "1.0.0",
    "summary": "Social intelligence for marketing teams, as an API and an MCP server.",
    "description": "Search, score and explain what is happening to a brand on social video.\n\nThis spec documents **only endpoints that are live today**. Anything specified but not shipped is deliberately absent rather than documented ahead of itself \u2014 a documented endpoint that 404s costs more trust than a short reference.\n\nTwo properties run through every response and are worth reading before the endpoint list:\n\n1. **Reliability travels in the payload.** Scores ship with the confidence, observation coverage and comparison group behind them, and with `floors_met` stating whether the evidence bar for the claim was actually cleared. The primary consumer of this API is a language model, and a model handed a bare number will restate it as a fact.\n2. **Refusals are results.** When the evidence does not support a claim, the API says so in a field rather than returning a confident number. A video with two observations is `watchlist` with a `gated_by` explanation, no matter how large its view count.",
    "contact": {
      "name": "Pepo",
      "url": "https://joinpepo.com"
    },
    "license": {
      "name": "Proprietary \u2014 Pepo terms of service",
      "url": "https://joinpepo.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.joinpepo.com",
      "description": "Production. Pilot customers are issued their base URL alongside their API key."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Credits, cost estimates, and the brand profile."
    },
    {
      "name": "Discovery",
      "description": "Finding and scoring video."
    },
    {
      "name": "Collections",
      "description": "Grow the corpus on demand: budgeted, unattended runs that add new video for a subject."
    },
    {
      "name": "Monitors",
      "description": "Workflows on a schedule with a hard monthly budget. `collection_topup` is the standing order that keeps a corpus current."
    }
  ],
  "paths": {
    "/v1/credits": {
      "get": {
        "operationId": "getCredits",
        "summary": "Get credit balance",
        "description": "Current prepaid balance for the workspace the key belongs to, and the default per-call cost ceiling. Free \u2014 this endpoint never meters.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Current balance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "balance_usd",
                    "mode"
                  ],
                  "properties": {
                    "balance_usd": {
                      "type": "number",
                      "example": 24.87
                    },
                    "default_call_cap_usd": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "Workspace-level override of the per-endpoint default ceiling. `null` means the per-endpoint default applies."
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "live",
                        "test"
                      ],
                      "description": "What this key is allowed to do. `live` meters real credits and can start collection. `test` does neither: it reads this workspace's own corpus, unmetered and read-only, so an integration can be exercised without spending. The token's prefix states the mode (`pk_live_` / `pk_test_`). Whether a response is labelled sample data comes from the workspace, not this field."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/estimate": {
      "post": {
        "operationId": "estimateCost",
        "summary": "Estimate the cost of a call",
        "description": "What a workflow call would cost, as a low/expected/high band with the assumptions behind it \u2014 including how many candidate videos would be analysed to return the number of results requested.\n\nFree, and deliberately prominent. An agent that can price its own plan proposes the affordable version first, which turns the per-call ceiling into something the caller cooperates with rather than collides with.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "endpoint"
                ],
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "enum": [
                      "/v1/trending",
                      "/v1/search/videos",
                      "/v1/collections",
                      "/v1/monitors",
                      "/v1/corpus/ask"
                    ],
                    "description": "Which workflow to price. `/v1/monitors` prices one run of `params.workflow` and adds `runs_per_month` and `monthly_expected_usd` to `assumes`, so `monthly_cap_usd` can be set from what a recurring job will actually reach."
                  },
                  "params": {
                    "type": "object",
                    "description": "The parameters you intend to send to that endpoint.",
                    "properties": {
                      "limit": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 500
                      },
                      "count": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 10000
                      },
                      "platforms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "treatment": {
                        "type": "string",
                        "enum": [
                          "full",
                          "collect_only"
                        ],
                        "default": "full",
                        "description": "`/v1/collections` only: price collection plus the corpus run (`full`) or collection alone (`collect_only`)."
                      },
                      "target": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 5000,
                        "description": "`/v1/collections` and `collection_topup` monitors: posts to land per run."
                      },
                      "workflow": {
                        "type": "string",
                        "enum": [
                          "trending",
                          "collection_topup"
                        ],
                        "description": "`/v1/monitors` only: the workflow the monitor would run."
                      },
                      "schedule": {
                        "type": "object",
                        "description": "`/v1/monitors` only. Defaults to daily.",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": [
                              "daily",
                              "weekly",
                              "interval"
                            ]
                          },
                          "every_hours": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 168
                          }
                        }
                      },
                      "hits": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 20,
                        "description": "`/v1/corpus/ask` only: how many videos are read for the answer. Reported in `assumes.hits_considered`; the price is flat per question."
                      }
                    }
                  }
                }
              },
              "examples": {
                "trending": {
                  "summary": "Price a 25-result trending call",
                  "value": {
                    "endpoint": "/v1/trending",
                    "params": {
                      "limit": 25,
                      "platforms": [
                        "tiktok"
                      ]
                    }
                  }
                },
                "scheduled_collection": {
                  "summary": "Price a daily collection top-up",
                  "value": {
                    "endpoint": "/v1/monitors",
                    "params": {
                      "workflow": "collection_topup",
                      "subject": "y combinator",
                      "target": 50,
                      "treatment": "full",
                      "schedule": {
                        "kind": "daily"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost band and the assumptions behind it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "estimate"
                  ],
                  "properties": {
                    "estimate": {
                      "type": "object",
                      "required": [
                        "cost_usd",
                        "assumes",
                        "balance_usd",
                        "affordable"
                      ],
                      "properties": {
                        "cost_usd": {
                          "type": "object",
                          "description": "Low, expected and high are identical when the corpus could be counted in advance, which is the normal case for trending and search. They widen only when it could not.",
                          "properties": {
                            "low": {
                              "type": "number"
                            },
                            "expected": {
                              "type": "number"
                            },
                            "high": {
                              "type": "number"
                            }
                          }
                        },
                        "assumes": {
                          "type": "object",
                          "description": "Notably `posts_considered` \u2014 how many posts the call will read. That is what the price tracks, and what the invoice bills. For `/v1/monitors`, also `runs_per_month` (30 daily, 4.3 weekly) and `monthly_expected_usd` \u2014 the per-run band times the schedule.",
                          "additionalProperties": {
                            "type": "number"
                          },
                          "example": {
                            "posts_considered": 412,
                            "videos_returned": 25,
                            "platforms": 1
                          }
                        },
                        "balance_usd": {
                          "type": "number"
                        },
                        "affordable": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        }
      }
    },
    "/v1/brand-profile": {
      "get": {
        "operationId": "getBrandProfile",
        "summary": "Get the brand profile",
        "description": "The approved brand profile for this workspace \u2014 products, competitors, category, audiences, and the topics the brand refuses to be associated with. Every workflow reads it, so results are generic category noise until it exists.\n\nA workspace without one gets `200` with `status: \"needs_setup\"` and the path to fix it, **not** a `404`. The empty state is the onboarding, and a caller that receives an error on its first call abandons the task.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "The approved profile, or a setup instruction.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BrandProfile"
                    },
                    {
                      "$ref": "#/components/schemas/BrandProfileNeedsSetup"
                    }
                  ]
                },
                "examples": {
                  "approved": {
                    "summary": "An approved profile",
                    "value": {
                      "status": "approved",
                      "version": 3,
                      "approved_at": 1755300000000,
                      "profile": {
                        "brand_names": [
                          "KISS"
                        ],
                        "competitors": [
                          "Glamnetics",
                          "Static Nails"
                        ],
                        "category": "press-on nails",
                        "exclusions": [
                          "recall",
                          "lawsuit"
                        ]
                      }
                    }
                  },
                  "needsSetup": {
                    "summary": "A fresh workspace",
                    "value": {
                      "status": "needs_setup",
                      "message": "No brand profile yet. Every workflow reads it, so results are generic until it exists.",
                      "next": {
                        "endpoint": "POST /v1/brand-profile/propose",
                        "required_fields": [
                          "brand_name",
                          "website"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "setBrandProfile",
        "summary": "Create or replace the brand profile",
        "description": "Saves the profile and makes it active immediately. Every workflow result from then on records its version in `brand_profile_version`.\n\nCall this before any workflow \u2014 they return `409 profile_required` until a profile exists, because results without one would be category noise rather than answers about your brand.\n\nReplacing a profile creates a new version rather than mutating the old one; previous versions are retained.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "brand_names"
                ],
                "properties": {
                  "brand_names": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Required. Include spelling variants and nicknames \u2014 consumers rarely write your brand the way your style guide does.",
                    "example": [
                      "KISS",
                      "KISS Nails"
                    ]
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "competitors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "category": {
                    "type": "string"
                  },
                  "judge_category": {
                    "type": "object",
                    "description": "What counts as on-topic vs. noise when the corpus judge reads collected posts for this brand. Different from `category` (the industry label): this refines the judge's category definition. The judge never sees the brand name itself, so phrase `means`/`other` about the content, not the brand.",
                    "required": [
                      "means",
                      "other"
                    ],
                    "properties": {
                      "label": {
                        "type": "string"
                      },
                      "means": {
                        "type": "string",
                        "description": "What on-topic content is for this brand, when judging collected posts."
                      },
                      "other": {
                        "type": "string",
                        "description": "What should be treated as noise, when judging collected posts."
                      }
                    }
                  },
                  "customer_problems": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "audiences": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "markets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "creators": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "campaigns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "hashtags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exclusions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Topics withheld from every result, enforced server-side. Withheld rows are counted in `corpus.excluded_by_brand_profile` so the filtering is never silent."
                  }
                }
              },
              "examples": {
                "minimal": {
                  "summary": "The smallest useful profile",
                  "value": {
                    "brand_names": [
                      "KISS",
                      "KISS Nails"
                    ],
                    "competitors": [
                      "Glamnetics"
                    ],
                    "category": "press-on nails",
                    "exclusions": [
                      "recall"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved and active.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "approved"
                      ]
                    },
                    "version": {
                      "type": "integer"
                    },
                    "profile": {
                      "type": "object"
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/trending": {
      "post": {
        "operationId": "findTrending",
        "summary": "Find trending videos",
        "description": "Ranked videos with a momentum score, a classification, and the evidence behind both.\n\n**A video is not trending because it has many views.** Each result is ranked as a percentile within a comparison group (same platform, comparable creators) and against the creator's own baseline, and a classification above `watchlist` requires at least **3 metric snapshots across at least 12 hours**. Anything thinner is capped at `watchlist` with `gated_by` explaining why \u2014 including videos with very large view counts.\n\nThe trend-level verdict is reported separately from the per-video ranking, because one video outperforming is virality, not a movement.\n\nCosts credits. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Discovery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Omit for every platform in the corpus.",
                    "example": [
                      "tiktok",
                      "instagram"
                    ]
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^\\d+[hd]$",
                    "description": "How far back to look, e.g. `24h`, `7d`, `30d`. An unparseable value is a 400 \u2014 it is never silently widened to the whole corpus.",
                    "example": "7d"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 25
                  },
                  "min_views": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "Hard ceiling for this call. Work stops here and returns partial results marked `usage.truncated` rather than overrunning. A server default applies when omitted."
                  }
                }
              },
              "examples": {
                "weeklyTikTok": {
                  "summary": "Last week on TikTok",
                  "value": {
                    "platforms": [
                      "tiktok"
                    ],
                    "window": "7d",
                    "limit": 25,
                    "max_cost_usd": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked results with their evidence.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        }
      }
    },
    "/v1/share-of-voice": {
      "post": {
        "operationId": "shareOfVoice",
        "summary": "Compare share of voice against competitors",
        "description": "Share of observed views between this brand and its configured competitors, over the corpus already collected.\n\n**This is not ad impressions.** Views are observed content views; an impression is an ad-delivery event. The two are not interchangeable and this response must never be presented as impression share.\n\n**Check `reliable` before quoting a percentage.** A corpus collected by searching for your own brand cannot measure your share of it \u2014 you dominate it by construction. The endpoint derives how the corpus was gathered from the collection runs behind it (`corpus_origin`) and refuses to endorse a split it cannot support, returning the numbers alongside the reason they should not be quoted.\n\nOrganic and paid activity are not separated: nothing in the corpus records whether a post was promoted.\n\nCosts credits. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Discovery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Omit for every platform in the corpus.",
                    "example": [
                      "tiktok",
                      "instagram"
                    ]
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^\\d+[hd]$",
                    "description": "How far back to look, e.g. `7d`, `30d`.",
                    "example": "7d"
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "description": "Hard ceiling for this call."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The split, and whether it can be quoted.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareOfVoiceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        }
      }
    },
    "/v1/competitors/report": {
      "post": {
        "operationId": "competitorReport",
        "summary": "Report on what a competitor changed",
        "description": "What changed for a competitor between the last two equal-length periods, decomposed into the creators, videos or platforms that caused it, with an annotated attention timeline naming the videos behind each peak.\n\n**The breakdown reconciles or it is not shown.** A waterfall's whole visual claim is \"here is the change, and here is what it was made of\", so the parts must sum to the whole exactly \u2014 including after truncation, which produces an explicit remainder row rather than dropping the tail. `reconciles` is computed, not assumed.\n\n**Check `comparable` first.** A period-over-period comparison across an unevenly collected corpus measures the collection, not the market: a competitor 'gaining' between two windows may only mean we searched harder the second time.\n\nComparative product and SKU bars are **not available** \u2014 the profile holds no competitor SKUs and nothing resolves a caption to a competitor's product line, so ranking them would mean inventing the categories. This is stated in `unavailable` rather than omitted.\n\nCosts credits. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Discovery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "competitor": {
                    "type": "string",
                    "description": "Which competitor. Omit for the one with the most video in the window."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^\\d+[hd]$",
                    "description": "Length of EACH period. The prior period of equal length is the baseline.",
                    "example": "7d"
                  },
                  "dimension": {
                    "type": "string",
                    "enum": [
                      "creator",
                      "video",
                      "platform"
                    ],
                    "description": "How to break down the change. Defaults to creator."
                  },
                  "max_cost_usd": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What changed, what caused it, and whether it can be read as movement.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitorReportResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        }
      }
    },
    "/v1/products/insights": {
      "post": {
        "operationId": "productInsights",
        "summary": "What people say about a product or SKU",
        "description": "Purchase drivers, complaints, needs and use cases for this brand's products, drawn from the captions and comments of posts that name a product.\n\n**A theme mentioned twice is not a finding.** Themes below three distinct sources are returned in `seen_not_established` rather than in `findings` \u2014 visible and countable, but never rankable. A two-mention theme rendered as a bar reads as a product problem, and that is the specific mistake this split exists to prevent.\n\n**Quotes are verbatim.** Every finding carries the exact text and the id it came from, because a finding whose evidence is a paraphrase cannot be checked.\n\n**Count voices, not mentions.** Five comments from one account is one person; `voices` is reported alongside `sources` so a single loud detractor cannot become \"a widely reported issue\".\n\nThemes are multi-label \u2014 \"love the texture but it broke me out\" is a driver and a complaint \u2014 so counts deliberately do not sum to `sources_considered`.\n\nReddit, reviews and timestamped video evidence are **absent, not thin**, and say so in `unavailable`.\n\nCosts credits. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Discovery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sku": {
                    "type": "string",
                    "description": "Narrow to one product. Omit for all configured products."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^\\d+[hd]$",
                    "example": "7d"
                  },
                  "max_cost_usd": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Themes with their evidence, and what was not established.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductInsightsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        }
      }
    },
    "/v1/creators/discover": {
      "post": {
        "operationId": "discoverCreators",
        "summary": "Find creators for a product, topic or audience",
        "description": "Creators in this brand's corpus with median views, median engagement, best post, consistency, the competitors they also post about, and brand-safety flags.\n\n**Medians, not averages.** One 486K video against nine 3K videos averages to 51K, which describes none of the ten and flatters the creator enormously. `bestViews` is reported alongside so a one-hit creator is visible as one.\n\n**A creator with one post is not ranked.** One post has no median and no dispersion; those creators come back in `single_post_creators`, present and countable but never comparable with the ranked list.\n\n**Post count is a fact about our search.** Creators are here because their posts matched what was collected, so `postsInCorpus` is never their output.\n\n**A brand-safety flag is a hit, never a clearance.** Screening is keyword-based over captions only \u2014 it cannot see video content, audio, or posts outside this corpus. Zero flags means nothing matched, not that a creator is safe, and `safety_statement` must travel with any safety claim.\n\nFollower counts, demographics and audience overlap are not collected, so nothing here says whether a creator's audience is yours. Observed views are not reach.\n\nCosts credits. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Discovery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sku": {
                    "type": "string",
                    "description": "Creators who posted about this product. Must be a product name from the profile, not the brand name."
                  },
                  "topic": {
                    "type": "string",
                    "description": "Creators whose captions mention this term."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^\\d+[hd]$",
                    "example": "7d"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "max_cost_usd": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked creators, those seen once, and what was not screened.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorDiscoveryResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        }
      }
    },
    "/v1/campaigns/analyze": {
      "post": {
        "operationId": "analyzeCampaign",
        "summary": "Measure social response to a campaign or launch",
        "description": "What happened around a campaign or product launch: an annotated timeline, a reconciling contribution waterfall by SKU, creator, video or platform, and an ownership split \u2014 over equal-length windows either side of the launch.\n\n**This is not paid-owned-earned; it is owned versus not-owned.** Owned is derivable, because a post from a connected account is the brand's. Paid versus earned is not derivable from anything: a sponsored creator post and an organic fan post are identical in this corpus. Caption-based `#ad` detection was considered and rejected \u2014 disclosure is inconsistent, and treating its absence as evidence of organic reach would be worse than having no split. Two buckets that are true beat three where one is invented.\n\n**It is not causal.** There is no control group and no counterfactual. Anything rising for an unrelated reason rises here too, so this describes what happened around the launch, not what the launch caused.\n\n**Response by market is unavailable** \u2014 posts carry no country, region or language. The markets on the brand profile describe who the brand sells to, not where a viewer was.\n\nEqual-length windows are used on both sides deliberately: comparing \"since launch\" against \"everything before\" makes the lift depend on how far back the corpus happens to reach.\n\nCosts credits. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Discovery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "launch_at": {
                    "type": "integer",
                    "description": "Launch time, unix ms. Defaults to one window ago."
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^\\d+[hd]$",
                    "description": "Length of EACH side of the launch.",
                    "example": "7d"
                  },
                  "sku": {
                    "type": "string"
                  },
                  "term": {
                    "type": "string",
                    "description": "Narrow to captions containing this term, e.g. a campaign hashtag."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dimension": {
                    "type": "string",
                    "enum": [
                      "sku",
                      "creator",
                      "video",
                      "platform"
                    ]
                  },
                  "max_cost_usd": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What moved around the launch, and what cannot be said about it.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignReportResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        }
      }
    },
    "/v1/search/videos": {
      "post": {
        "operationId": "searchVideos",
        "summary": "Search the video corpus",
        "description": "Find videos in this workspace's corpus by topic, product or creator.\n\n**Read `search_method` on every response.** Today this searches stored captions and creator handles only. Transcripts, on-screen text, detected products and logos, and audio are not in the corpus yet, so an empty result means *not found in captions* \u2014 never *no such video exists*. That distinction matters if you are about to report that a topic has no coverage.\n\nCosts credits.",
        "tags": [
          "Discovery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "window": {
                    "type": "string",
                    "example": "7d",
                    "pattern": "^\\d+[hd]$",
                    "description": "How far back to look, e.g. `24h`, `7d`, `30d`. An unparseable value is a 400 \u2014 it is never silently widened to the whole corpus."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200,
                    "default": 25
                  },
                  "min_views": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  }
                }
              },
              "examples": {
                "byTopic": {
                  "summary": "Search by topic",
                  "value": {
                    "query": "press on nails application",
                    "limit": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching videos, with a statement of what was actually searched.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        }
      }
    },
    "/v1/corpus/ask": {
      "post": {
        "operationId": "askCorpus",
        "summary": "Ask a question of the indexed footage",
        "description": "Answer a natural-language question from what the videos in this workspace actually SAY and SHOW \u2014 transcripts, visuals and audio of the footage a full-treatment collection run indexed \u2014 with a citation (creator, URL, timestamps) under every paragraph.\n\nThis is the tool for \"what do people say in these videos\". `/v1/search/videos` matches captions and handles; this reads the footage. Retrieval is a semantic search over the brand's video index; each of the top `hits` videos is then read for the answer. When a video cannot be read live (asset gone, quota, lost shared analyze lease) the worker's stored analysis stands in and `sources[].method` says so.\n\n**`answer: null` is a 200, not an error.** `reason: \"no_index\"` means nothing has been indexed for this workspace yet \u2014 a collection run with `treatment: \"full\"` builds the index and nothing is billed. `reason: \"no_hits\"` means no indexed video matched within the window: *not in the indexed footage*, never *nobody said it*. Only one video per duplicate cluster is indexed, so `index_videos` is smaller than the corpus.\n\nCosts credits: one flat `corpus_question` per question, regardless of `hits`. Exception: a fully provider-degraded result with no live footage read is unbilled; a partial degradation is still billed.",
        "tags": [
          "Discovery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question"
                ],
                "properties": {
                  "question": {
                    "type": "string",
                    "maxLength": 1000,
                    "description": "The question, in plain language, e.g. \"what do founders say about fundraising?\""
                  },
                  "hits": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 8,
                    "description": "How many top-ranked videos are read for the answer. Breadth, not price \u2014 the question is billed flat."
                  },
                  "window": {
                    "type": "string",
                    "example": "7d",
                    "pattern": "^\\d+[hd]$",
                    "description": "How far back to look, e.g. `24h`, `7d`, `30d`. An unparseable value is a 400 \u2014 it is never silently widened to the whole corpus."
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  }
                }
              },
              "examples": {
                "founders": {
                  "summary": "What founders say",
                  "value": {
                    "question": "what do founders say about raising a seed round?",
                    "hits": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer with citations \u2014 or `answer: null` with a `reason` when there is nothing to answer from.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorpusAskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/v1/corpus/coverage-gaps": {
      "get": {
        "operationId": "coverageGaps",
        "summary": "What ask_corpus/search_videos could not answer",
        "description": "Recent questions asked through `POST /v1/corpus/ask` and `POST /v1/search/videos`, grouped into thin/no coverage vs. answered fine. `thin` is exactly what each handler already knew at response time \u2014 `ask_corpus` returning `reason` (`no_index`/`no_hits`), or `search_videos` matching nothing (`empty_corpus` when the corpus itself was empty for the filters, `no_caption_match` when it was not) \u2014 never a threshold recomputed here. Each group carries its count, first/last asked timestamp, and up to 50 of the underlying questions with their own result count and reason.\n\nFree. Use this to see what this workspace is asking the corpus that it cannot answer, then close the gap: grow search terms with `POST /v1/monitors` (a new `collection_topup` schedule) or `POST /v1/monitors/{monitor_id}/update` (`add_subjects` on an existing one), or fix an on-category miss with `POST /v1/brand-profile` (`judge_category`, `hashtags`, `brand_names`). This endpoint only surfaces the gap \u2014 it never changes a schedule or a profile itself.\n\n`truncated: true` means the scan hit its 2,000-row cap before covering the whole window; the counts are a floor, not a total, for a workspace that busy. Live keys only: the log contains verbatim questions from live users, so test keys receive 403 test_key_forbidden \u2014 the one read endpoint test mode does not get.",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "window_days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            },
            "description": "How far back to look. Defaults to 30, capped at 90."
          }
        ],
        "responses": {
          "200": {
            "description": "Recent questions, grouped by coverage.",
            "headers": {
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "window_days",
                    "scanned",
                    "truncated",
                    "thin",
                    "answered",
                    "request_id"
                  ],
                  "properties": {
                    "window_days": {
                      "type": "integer"
                    },
                    "scanned": {
                      "type": "integer",
                      "description": "Rows read from the window, up to the 2,000-row scan cap."
                    },
                    "truncated": {
                      "type": "boolean",
                      "description": "The scan hit its cap \u2014 there may be more questions in the window than these counts show."
                    },
                    "thin": {
                      "$ref": "#/components/schemas/CoverageGapGroup"
                    },
                    "answered": {
                      "$ref": "#/components/schemas/CoverageGapGroup"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Test key: this endpoint serves verbatim live-user question text and is refused in test mode (`test_key_forbidden`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "type": "test_key_forbidden",
                    "message": "Test keys cannot read coverage gaps: the log contains verbatim questions from live users. Use a live key.",
                    "request_id": "req_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{video_id}": {
      "get": {
        "operationId": "getVideo",
        "summary": "Get one video",
        "description": "Full detail for a single video: engagement, the metric history behind any momentum claim, a sample of comments with their tone **and the coverage of that tone**, the stored read of what the video says (`analysis`), and the playable file when one was captured (`media`).\n\n`media.video_url_kind` tells you what `media.video_url` is worth: `stored` is a durable copy that keeps playing, `cdn_signed` is a signed platform url that expires within hours of ingest \u2014 play it if it loads, but keep `video.thumb_url` and `video.url` as the fallback.\n\nUse the coverage. A tone split computed over 3 classified comments of 1,840 sampled is not the same claim as one computed over 1,800, and the split alone cannot tell them apart.",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `video.id` from a search or trending result."
          }
        ],
        "responses": {
          "200": {
            "description": "The video, its observation history, and its comment reaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No video with that id in this workspace. Returned identically for an id that does not exist and one belonging to another workspace \u2014 the difference would be an existence oracle across tenants.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/records": {
      "get": {
        "operationId": "listRecords",
        "tags": [
          "Discovery"
        ],
        "summary": "Page the collected dataset",
        "description": "Cursor-paged records with a quality assessment. Unmetered: these rows were already paid for at collection, and charging to read them would make careful paging the expensive option. `format=csv` returns text/csv.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque; pass back what the previous page returned."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "quality": {
                      "type": "object",
                      "description": "Row count, platform mix, duplicates, per-field gaps with their consequence, real time span, stated limitations, a verification block distinguishing 'complete' from 'confirmed', and stacked composition. `composition.unavailable` names the axes with no data behind them (market has no geography anywhere in the corpus; category is a single brand-level value, so its bar would be one segment at 100%) \u2014 report those as unavailable rather than as empty."
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/collections": {
      "post": {
        "operationId": "createCollection",
        "summary": "Start a collection run",
        "description": "Starts an unattended job that searches a provider for `subject` and adds matching videos to this workspace's corpus. `budget_usd` is required \u2014 a collection spends provider credits unattended, so its ceiling is never optional. Price it first with `POST /v1/estimate` (`endpoint: \"/v1/collections\"`) and pass that estimate's `expected` cost as `budget_usd`.\n\nReturns 202: the run is accepted, not finished. Rows land as they are collected and are searchable immediately, flagged unverified until judged. Billing settles at the end for what actually landed, never for the estimate. Poll `GET /v1/collections/{collection_id}` for progress.\n\nBy default the run carries the **full treatment**: once collection ends, a corpus run judges the rows for subject collision, enriches metrics, clusters near-duplicates, analyses and indexes each video, and collects and reads ~20 comments per post. `budget_usd` must cover collection and treatment together (estimate with `treatment` set); the collection settles its own line and the corpus run settles once more, at the end, for the stages that actually ran. Pass `treatment: \"collect_only\"` for rows alone.",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject",
                  "budget_usd"
                ],
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "The search phrase the provider collects for, e.g. \"y combinator\". One subject per run \u2014 start several runs for several subjects."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "tiktok",
                        "instagram"
                      ]
                    },
                    "description": "Defaults to both."
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^\\d+[hd]$",
                    "description": "How far back to collect, e.g. \"7d\", \"30d\". Defaults to 7d."
                  },
                  "target": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5000,
                    "default": 100,
                    "description": "How many videos to collect."
                  },
                  "budget_usd": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "Required hard ceiling for this run's spend."
                  },
                  "treatment": {
                    "type": "string",
                    "enum": [
                      "full",
                      "collect_only"
                    ],
                    "default": "full",
                    "description": "What happens to the rows once they land. `full` (default) hands them to a corpus run \u2014 judge, enrich, dedup, analyze, index, comments, sentiment, comment refresh \u2014 priced at about $0.39 per landed post on top of collection and billed only for the stages that actually run; its progress appears as `corpus_run` on the collection. `collect_only` stops at the rows ($0.02/post), flagged unverified."
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Optional. With the full treatment, POSTed a `corpus_run.completed` event `{event, collection_id, corpus_run_id, status, cost_usd, stages, warnings}` when the corpus run finishes. Best effort, 5s timeout."
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Collect 100 TikTok + Instagram posts",
                  "value": {
                    "subject": "y combinator",
                    "platforms": [
                      "tiktok",
                      "instagram"
                    ],
                    "window": "7d",
                    "target": 100,
                    "budget_usd": 2.5
                  }
                },
                "full_treatment": {
                  "summary": "Collect 50 posts and run the full treatment",
                  "value": {
                    "subject": "y combinator",
                    "target": 50,
                    "treatment": "full",
                    "budget_usd": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The run has started; it is not finished.",
            "headers": {
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "$ref": "#/components/schemas/Collection"
                    },
                    "estimate": {
                      "type": "object",
                      "properties": {
                        "cost_usd": {
                          "type": "object",
                          "properties": {
                            "low": {
                              "type": "number"
                            },
                            "expected": {
                              "type": "number"
                            },
                            "high": {
                              "type": "number"
                            }
                          }
                        },
                        "assumes": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "eta_minutes": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      }
                    },
                    "note": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Either `invalid_request` (a required field is missing or malformed) or `budget_too_low` (the estimated cost of this run is above `budget_usd`; see BudgetTooLowError for its extra fields). Nothing is started or charged in either case.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InvalidRequestError"
                    },
                    {
                      "$ref": "#/components/schemas/BudgetTooLowError"
                    }
                  ]
                },
                "examples": {
                  "missingBudget": {
                    "summary": "budget_usd omitted",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "budget_usd is required. A collection spends provider credits unattended, so its budget is not optional \u2014 call POST /v1/estimate with endpoint \"/v1/collections\" first.",
                        "request_id": "req_\u2026",
                        "field": "budget_usd"
                      }
                    }
                  },
                  "budgetTooLow": {
                    "summary": "budget_usd below the estimate",
                    "value": {
                      "error": {
                        "type": "budget_too_low",
                        "message": "Collecting 500 posts is estimated at $8.40; budget_usd is $5.00. Lower target or raise the budget.",
                        "request_id": "req_\u2026",
                        "estimated_cost_usd": 8.4,
                        "budget_usd": 5,
                        "field": "budget_usd"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/TestKeyReadOnly"
          }
        }
      },
      "get": {
        "operationId": "listCollections",
        "summary": "List collection runs",
        "description": "Recent collection runs for this workspace, most recent first.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection runs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collection"
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/collections/{collection_id}": {
      "get": {
        "operationId": "getCollection",
        "summary": "Get one collection run",
        "description": "Status of one collection run: collected vs target, coverage, cost so far, whether billing has settled, and why if it stopped early. Poll this after `POST /v1/collections`.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The collection run.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "$ref": "#/components/schemas/Collection"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No such collection in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/collections/{collection_id}/cancel": {
      "post": {
        "operationId": "cancelCollection",
        "summary": "Cancel a collection run",
        "description": "Stops a running collection early. Billing settles for whatever landed before the cancel, never for the full budget \u2014 the settle is once-only, so a racing in-flight step cannot double-bill. Rows already collected stay in the corpus and remain searchable.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled (or already terminal).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collection": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No such collection in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/corpus-runs/{corpus_run_id}": {
      "get": {
        "operationId": "getCorpusRun",
        "summary": "Get one corpus run",
        "description": "Status of the staged pipeline behind a full-treatment collection: which stage it is on, what each stage kept and cost, ETA, quality-gate warnings, and whether billing has settled. The same view is embedded as `corpus_run` on `GET /v1/collections/{collection_id}`, so this exists for callers that hold only the run id (for example from the webhook). Free.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "corpus_run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The corpus run.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "corpus_run": {
                      "$ref": "#/components/schemas/CorpusRun"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No such corpus run in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/corpus-runs/{corpus_run_id}/cancel": {
      "post": {
        "operationId": "cancelCorpusRun",
        "summary": "Cancel a corpus run",
        "description": "Stops the pipeline. A queued run is cancelled outright and the hold it carried is released. A running run finishes the stage it is on, then stops; it is billed only for the stages that completed. Rows already collected stay in the corpus.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "corpus_run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled (or already terminal).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "corpus_run": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No such corpus run in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitors": {
      "post": {
        "operationId": "createMonitor",
        "summary": "Create a monitor (a workflow on a schedule)",
        "description": "Saves a workflow on a schedule with a hard monthly budget. `monthly_cap_usd` is required: a monitor runs unattended, so its ceiling is never optional. Price it first with `POST /v1/estimate` (`endpoint: \"/v1/monitors\"`), which returns the per-run cost and `monthly_expected_usd`.\n\nTwo workflows run today. `trending` re-reads the stored corpus each tick. `collection_topup` is the standing order of corpus jobs Tier 2: each tick starts one `/v1/collections` run per subject in `params.subjects` (1-10 search phrases; `params.subject` accepts a single phrase as `[subject]` for back-compat \u2014 provide one or the other, not both), in array order, re-checking the remaining cap before each subject so a cap can stop the fan-out partway through (skipped subjects are attempted again next tick). Each collection uses the same `target` posts and `treatment` (full or collect_only), reserving its expected cost against the monthly cap; it settles for what actually landed \u2014 and, with the full treatment, the corpus run settles once more for the stages that ran \u2014 and the difference returns to the budget. A run whose expected cost does not fit what remains is recorded as `skipped_budget`; with `pause_at_cap` (default) the monitor pauses at the cap until the period rolls. Grow or shrink the subject list later, or change `target`/`monthly_cap_usd`, with `POST /v1/monitors/{monitor_id}/update` \u2014 no need to recreate the schedule.\n\n`webhook_url`, when set, receives `monitor.run.completed` \u2014 for `collection_topup` when a collection (collect_only) or its corpus run (full) has settled, with `collection_id`, `corpus_run_id`, `cost_usd` and a summary; a multi-subject tick fires one `monitor.run.completed` per subject as each of its collections settles.",
        "tags": [
          "Monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workflow",
                  "monthly_cap_usd"
                ],
                "properties": {
                  "workflow": {
                    "type": "string",
                    "enum": [
                      "trending",
                      "collection_topup"
                    ]
                  },
                  "params": {
                    "type": "object",
                    "description": "`collection_topup`: exactly one of `subject` or `subjects` (required), `target` (required, 1\u20135000 per run), `platforms` (default both), `window` (default \"7d\"), `treatment` (default \"full\"). `trending`: the `/v1/trending` body.",
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "A single search phrase. Equivalent to `subjects: [subject]`. Provide this or `subjects`, not both."
                      },
                      "subjects": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 10,
                        "description": "1-10 search phrases each tick fans out over, in order. Trimmed and deduped case-insensitively. Provide this or `subject`, not both."
                      },
                      "platforms": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "tiktok",
                            "instagram"
                          ]
                        }
                      },
                      "window": {
                        "type": "string",
                        "pattern": "^\\d+[hd]$"
                      },
                      "target": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 5000
                      },
                      "treatment": {
                        "type": "string",
                        "enum": [
                          "full",
                          "collect_only"
                        ],
                        "default": "full"
                      }
                    }
                  },
                  "schedule": {
                    "type": "object",
                    "description": "Defaults to every 24 hours.",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": [
                          "daily",
                          "weekly",
                          "interval"
                        ]
                      },
                      "every_hours": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 168
                      },
                      "time_utc": {
                        "type": "string",
                        "description": "HH:MM UTC for daily/weekly. Defaults to 09:00."
                      }
                    }
                  },
                  "monthly_cap_usd": {
                    "type": "number",
                    "minimum": 0.05,
                    "maximum": 10000,
                    "description": "Required hard ceiling per rolling 30-day period. Must cover at least one run."
                  },
                  "pause_at_cap": {
                    "type": "boolean",
                    "default": true
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              "examples": {
                "daily_topup": {
                  "summary": "50 posts a day on a subject, full treatment",
                  "value": {
                    "workflow": "collection_topup",
                    "params": {
                      "subject": "y combinator",
                      "platforms": [
                        "tiktok",
                        "instagram"
                      ],
                      "window": "7d",
                      "target": 50,
                      "treatment": "full"
                    },
                    "schedule": {
                      "kind": "daily",
                      "time_utc": "09:00"
                    },
                    "monthly_cap_usd": 650,
                    "webhook_url": "https://example.com/hooks/pepo"
                  }
                },
                "multi_subject_topup": {
                  "summary": "One schedule fanning out over three search terms",
                  "value": {
                    "workflow": "collection_topup",
                    "params": {
                      "subjects": [
                        "y combinator",
                        "techstars",
                        "dorm room startups"
                      ],
                      "platforms": [
                        "tiktok",
                        "instagram"
                      ],
                      "window": "7d",
                      "target": 50,
                      "treatment": "collect_only"
                    },
                    "schedule": {
                      "kind": "daily",
                      "time_utc": "09:00"
                    },
                    "monthly_cap_usd": 90
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created and active.",
            "headers": {
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "monitor",
                    "estimate",
                    "note",
                    "request_id"
                  ],
                  "properties": {
                    "monitor": {
                      "$ref": "#/components/schemas/Monitor"
                    },
                    "estimate": {
                      "type": "object",
                      "description": "One run of the workflow, and in `assumes` the month: `runs_per_month` and `monthly_expected_usd`.",
                      "properties": {
                        "cost_usd": {
                          "type": "object",
                          "properties": {
                            "low": {
                              "type": "number"
                            },
                            "expected": {
                              "type": "number"
                            },
                            "high": {
                              "type": "number"
                            }
                          }
                        },
                        "assumes": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    },
                    "note": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request`: an unsupported workflow, a missing or malformed param (the message names it), or a cap below one run's expected cost.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TestKeyReadOnly"
          }
        }
      },
      "get": {
        "operationId": "listMonitors",
        "summary": "List monitors",
        "description": "Every monitor in the workspace with its budget consumed, next run and \u2014 for `collection_topup` \u2014 the collection its latest run started.",
        "tags": [
          "Monitors"
        ],
        "responses": {
          "200": {
            "description": "The monitors.",
            "headers": {
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "monitors",
                    "request_id"
                  ],
                  "properties": {
                    "monitors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Monitor"
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/monitors/cancel": {
      "post": {
        "operationId": "pauseMonitor",
        "summary": "Pause a monitor",
        "description": "Pauses the monitor: no further runs are scheduled. A collection already started by its last run carries on and settles normally.",
        "tags": [
          "Monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "monitor_id"
                ],
                "properties": {
                  "monitor_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paused.",
            "headers": {
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "request_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "paused"
                      ]
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TestKeyReadOnly"
          },
          "404": {
            "description": "No such monitor in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitors/{monitor_id}": {
      "get": {
        "operationId": "getMonitor",
        "summary": "Get a monitor and its recent runs",
        "description": "The monitor plus its last 10 runs, newest first. For `collection_topup` each run carries the `collection_id` it started; a run's `cost_usd` is the reservation until that collection settles, then the actual charge.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor and its runs.",
            "headers": {
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "monitor",
                    "runs",
                    "request_id"
                  ],
                  "properties": {
                    "monitor": {
                      "$ref": "#/components/schemas/Monitor"
                    },
                    "runs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MonitorRun"
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No such monitor in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitors/{monitor_id}/update": {
      "post": {
        "operationId": "updateMonitor",
        "summary": "Grow or shrink a scheduled collection",
        "description": "Updates a `collection_topup` schedule in place \u2014 the way its search terms expand as the corpus grows. `add_subjects` and `remove_subjects` (by exact string) edit the subject list (removals apply before additions, so one call can swap a stale term for a fresh one without tripping the 10-subject ceiling); `target` and `monthly_cap_usd` can also change. Removing every subject is refused \u2014 pause the schedule with `POST /v1/monitors/cancel` instead. The same floor as creation applies: `monthly_cap_usd` must cover at least one run at the (possibly new) `target`. `window`, `platforms` and `treatment` are fixed for the life of a schedule; cancel and recreate for those. Returns the updated schedule in the same shape as `GET /v1/monitors/{monitor_id}`.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "add_subjects": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Search phrases to add, subject to the same 1-10 total and 500-character limits as creation. Deduped case-insensitively against what is already scheduled."
                  },
                  "remove_subjects": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exact-string subjects to remove. Applied before add_subjects."
                  },
                  "target": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5000
                  },
                  "monthly_cap_usd": {
                    "type": "number",
                    "minimum": 0.05,
                    "maximum": 10000
                  }
                }
              },
              "examples": {
                "grow": {
                  "summary": "Add a search term the corpus should also track",
                  "value": {
                    "add_subjects": [
                      "dorm room startups"
                    ]
                  }
                },
                "swap": {
                  "summary": "Retire a stale term, add a fresh one",
                  "value": {
                    "remove_subjects": [
                      "last quarter's launch"
                    ],
                    "add_subjects": [
                      "this quarter's launch"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "headers": {
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "monitor",
                    "request_id"
                  ],
                  "properties": {
                    "monitor": {
                      "$ref": "#/components/schemas/Monitor"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request`: not a `collection_topup` schedule, a malformed field, removing every subject, more than 10 subjects after adding, or a cap below one run's expected cost.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TestKeyReadOnly"
          },
          "404": {
            "description": "No such monitor in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
[...]
