{
  "openapi": "3.1.0",
  "info": {
    "title": "Pepo API",
    "version": "1.1.0",
    "summary": "A growing library of public social video, analyzed once and asked many times, as an API and an MCP server.",
    "description": "Pepo keeps a library of public TikTok and Instagram video, plus public Reddit threads, for each workspace. Every video is analyzed once when it arrives: a timed transcript, a record of what is on screen, and a summary of what the creator says and how they feel about it. After that the library can be searched, counted and questioned as often as needed, from your own code or from an agent in Claude or ChatGPT through the MCP server, which is a client of this API.\n\nTwo jobs it is built for: a consumer brand reading what people see, say and feel about it and its competitors, and a creator learning what works in a niche.\n\nThis spec documents **only endpoints that are live today**. Anything specified but not shipped is absent rather than documented ahead of itself: a documented endpoint that 404s costs more trust than a short reference.\n\nTwo properties run through every response and are worth reading before the endpoint list:\n\n1. **Reliability travels in the payload.** Scores ship with the confidence, observation coverage and comparison group behind them, and with `floors_met` stating whether the evidence bar for the claim was actually cleared. The primary consumer of this API is a language model, and a model handed a bare number will restate it as a fact.\n2. **Refusals are results.** When the evidence does not support a claim, the API says so in a field rather than returning a confident number. A video with two observations is `watchlist` with a `gated_by` explanation, no matter how large its view count, and a question no video could answer comes back as `answer: null` with a `reason`.\n\nViews are observed content views, never ad impressions. A brand's own posts are never counted as signal. Nothing here measures paid media, sales or audience demographics.",
    "contact": {
      "name": "Pepo",
      "url": "https://joinpepo.com"
    },
    "license": {
      "name": "Proprietary. Use is governed by the Pepo terms of service.",
      "url": "https://joinpepo.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.joinpepo.com",
      "description": "Production. Pilot customers are issued their base URL alongside their API key."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Credits, cost estimates, and the brand profile."
    },
    {
      "name": "Library",
      "description": "Reading, searching and questioning the video library."
    },
    {
      "name": "Collections",
      "description": "Grow the library on demand: budgeted, unattended runs that add new video for a subject, then analyze it."
    },
    {
      "name": "Monitors",
      "description": "Workflows on a schedule with a hard monthly budget. `collection_topup` is the standing order that keeps a library current."
    }
  ],
  "paths": {
    "/v1/comments": {
      "get": {
        "operationId": "listComments",
        "summary": "Page collected comments",
        "description": "Free access to stored public comments in the workspace selected by the API key. Text is verbatim. Tone is a derived comment classification, not video sentiment or a count of distinct people. Quality counts describe this page only. Pages are limited by row count and bytes read; continue with `next_cursor` until `has_more` is false before claiming whole-library coverage. A short page is not proof of completion.",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque continuation cursor from this workspace's previous comment page. Omit to restart."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum requested rows. The server may return fewer at its read-size boundary."
          }
        ],
        "responses": {
          "200": {
            "description": "One comment page with coverage and continuation state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "records",
                    "next_cursor",
                    "has_more",
                    "quality",
                    "request_id"
                  ],
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "text",
                          "platform",
                          "author_handle",
                          "posted_at",
                          "url",
                          "post_id",
                          "tone",
                          "tone_source",
                          "topics",
                          "likes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "text": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "platform": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "author_handle": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "posted_at": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Epoch milliseconds when known."
                          },
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Recovered HTTP(S) parent source URL, or null when unavailable."
                          },
                          "post_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "tone": {
                            "type": "string",
                            "enum": [
                              "positive",
                              "neutral",
                              "negative",
                              "unknown"
                            ]
                          },
                          "tone_source": {
                            "type": "string",
                            "enum": [
                              "rating",
                              "score",
                              "typed",
                              "category",
                              "none"
                            ]
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "likes": {
                            "type": [
                              "number",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "quality": {
                      "type": "object",
                      "required": [
                        "rows",
                        "unknown_tone",
                        "missing_url",
                        "missing_date",
                        "limitations"
                      ],
                      "properties": {
                        "rows": {
                          "type": "integer"
                        },
                        "unknown_tone": {
                          "type": "integer"
                        },
                        "missing_url": {
                          "type": "integer"
                        },
                        "missing_date": {
                          "type": "integer"
                        },
                        "limitations": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid `limit`, or a cursor this query cannot read. Restart pagination without a cursor when it is rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/credits": {
      "get": {
        "operationId": "getCredits",
        "summary": "Get credit balance",
        "description": "Current prepaid balance for the workspace the key belongs to, and the default per-call cost ceiling. Free: this endpoint never meters.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Current balance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "balance_usd",
                    "mode"
                  ],
                  "properties": {
                    "balance_usd": {
                      "type": "number",
                      "example": 24.87
                    },
                    "default_call_cap_usd": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "Workspace-level override of the per-endpoint default ceiling. `null` means the per-endpoint default applies."
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "live",
                        "test"
                      ],
                      "description": "What this key is allowed to do. `live` meters real credits and can start collection. `test` does neither: it reads this workspace's own corpus, unmetered and read-only, so an integration can be exercised without spending. The token's prefix states the mode (`pk_live_` / `pk_test_`). Whether a response is labelled sample data comes from the workspace, not this field."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/estimate": {
      "post": {
        "operationId": "estimateCost",
        "summary": "Estimate the cost of a call",
        "description": "What a call would cost, as a low/expected/high band with the assumptions behind it, including how many stored posts the call would read.\n\nFree, and deliberately prominent. An agent that can price its own plan proposes the affordable version first, which turns the per-call ceiling into something the caller cooperates with rather than collides with.\n\nThe endpoints listed in `endpoint` are priced from their own cost model. Any other value is not refused, but it is quoted as a flat single `search_request` that describes nothing real: `POST /v1/library/analyze` is priced by `library.estimated_cost_usd` on a `needs_analysis` answer instead, and `POST /v1/collections/preview` is always one `search_request`.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "endpoint"
                ],
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "enum": [
                      "/v1/trending",
                      "/v1/search/videos",
                      "/v1/share-of-voice",
                      "/v1/competitors/report",
                      "/v1/products/insights",
                      "/v1/creators/discover",
                      "/v1/campaigns/analyze",
                      "/v1/corpus/ask",
                      "/v1/collections",
                      "/v1/monitors",
                      "/v1/library/add",
                      "/v1/library/survey",
                      "/v1/library/what-works"
                    ],
                    "description": "Which call to price. `/v1/monitors` prices one run of `params.workflow` and adds `runs_per_month` and `monthly_expected_usd` to `assumes`, so `monthly_cap_usd` can be set from what a recurring job will actually reach. `/v1/library/add` prices `count` videos kept at one `post_collected` each."
                  },
                  "params": {
                    "type": "object",
                    "description": "The parameters you intend to send to that endpoint.",
                    "properties": {
                      "limit": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 500
                      },
                      "count": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 10000
                      },
                      "platforms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "treatment": {
                        "type": "string",
                        "enum": [
                          "full",
                          "collect_only"
                        ],
                        "default": "full",
                        "description": "`/v1/collections` only: price collection plus the corpus run (`full`) or collection alone (`collect_only`)."
                      },
                      "target": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 5000,
                        "description": "`/v1/collections` and `collection_topup` monitors: posts to land per run."
                      },
                      "workflow": {
                        "type": "string",
                        "enum": [
                          "trending",
                          "collection_topup"
                        ],
                        "description": "`/v1/monitors` only: the workflow the monitor would run."
                      },
                      "schedule": {
                        "type": "object",
                        "description": "`/v1/monitors` only. Defaults to daily.",
                        "properties": {
                          "kind": {
                            "type": "string",
                            "enum": [
                              "daily",
                              "weekly",
                              "interval"
                            ]
                          },
                          "every_hours": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 168
                          }
                        }
                      },
                      "hits": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 20,
                        "description": "`/v1/corpus/ask` only: how many videos may be read for the answer. `low` is the question alone; `expected` and `high` assume every hit is read live, so `hits` is also the price ceiling. Hits answered from the stored transcript, the cache or the stored analysis are not billed as reads."
                      },
                      "window": {
                        "type": "string",
                        "description": "Corpus-reading endpoints: the `window` you intend to send, so the post count matches the call."
                      },
                      "min_views": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "subject": {
                        "type": "string",
                        "description": "Accepted for readability; not used in the price."
                      }
                    }
                  }
                }
              },
              "examples": {
                "trending": {
                  "summary": "Price a 25-result trending call",
                  "value": {
                    "endpoint": "/v1/trending",
                    "params": {
                      "limit": 25,
                      "platforms": [
                        "tiktok"
                      ]
                    }
                  }
                },
                "scheduled_collection": {
                  "summary": "Price a daily collection top-up",
                  "value": {
                    "endpoint": "/v1/monitors",
                    "params": {
                      "workflow": "collection_topup",
                      "subject": "y combinator",
                      "target": 50,
                      "treatment": "full",
                      "schedule": {
                        "kind": "daily"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost band and the assumptions behind it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "estimate"
                  ],
                  "properties": {
                    "estimate": {
                      "type": "object",
                      "required": [
                        "cost_usd",
                        "assumes",
                        "balance_usd",
                        "affordable"
                      ],
                      "properties": {
                        "cost_usd": {
                          "type": "object",
                          "description": "Low, expected and high are identical when the library could be counted in advance, which is the normal case for the corpus-reading endpoints. They widen when it could not, and for collections and `/v1/corpus/ask`.",
                          "properties": {
                            "low": {
                              "type": "number"
                            },
                            "expected": {
                              "type": "number"
                            },
                            "high": {
                              "type": "number"
                            }
                          }
                        },
                        "assumes": {
                          "type": "object",
                          "description": "Notably `posts_considered`, how many stored posts the call will read: that is what the price tracks, and what the invoice bills. For `/v1/monitors`, also `runs_per_month` (30 daily, 4.3 weekly) and `monthly_expected_usd`, the per-run band times the schedule.",
                          "additionalProperties": {
                            "type": "number"
                          },
                          "example": {
                            "posts_considered": 412,
                            "videos_returned": 25,
                            "platforms": 1
                          }
                        },
                        "balance_usd": {
                          "type": "number"
                        },
                        "affordable": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/brand-profile": {
      "get": {
        "operationId": "getBrandProfile",
        "summary": "Get the brand profile",
        "description": "The approved brand profile for this workspace: products, competitors, category, audiences, official accounts, and the topics the brand refuses to be associated with. Every workflow reads it, so results are generic category noise until it exists.\n\nA workspace without one gets `200` with `status: \"needs_setup\"` and the path to fix it, **not** a `404`. The empty state is the onboarding, and a caller that receives an error on its first call abandons the task.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "The approved profile, or a setup instruction.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BrandProfile"
                    },
                    {
                      "$ref": "#/components/schemas/BrandProfileNeedsSetup"
                    }
                  ]
                },
                "examples": {
                  "approved": {
                    "summary": "An approved profile",
                    "value": {
                      "status": "approved",
                      "version": 3,
                      "approved_at": 1755300000000,
                      "profile": {
                        "brand_names": [
                          "KISS"
                        ],
                        "competitors": [
                          "Glamnetics",
                          "Static Nails"
                        ],
                        "category": "press-on nails",
                        "exclusions": [
                          "recall",
                          "lawsuit"
                        ]
                      }
                    }
                  },
                  "needsSetup": {
                    "summary": "A fresh workspace",
                    "value": {
                      "status": "needs_setup",
                      "message": "No brand profile yet. Every workflow reads it, so results are generic until it exists.",
                      "next": {
                        "endpoint": "POST /v1/brand-profile",
                        "required_fields": [
                          "brand_names"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "setBrandProfile",
        "summary": "Create or replace the brand profile",
        "description": "Saves the profile and makes it active immediately. Every workflow result from then on records its version in `brand_profile_version`.\n\nCall this before any workflow: they return `409 profile_required` until a profile exists, because results without one would be category noise rather than answers about your brand.\n\nReplacing a profile creates a new version rather than mutating the old one; previous versions are retained.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "brand_names"
                ],
                "properties": {
                  "brand_names": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Required. Include spelling variants and nicknames: people rarely write your brand the way your style guide does.",
                    "example": [
                      "KISS",
                      "KISS Nails"
                    ]
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "competitors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "category": {
                    "type": "string"
                  },
                  "judge_category": {
                    "type": "object",
                    "description": "What counts as on-topic vs. noise when the corpus judge reads collected posts for this brand. Different from `category` (the industry label): this refines the judge's category definition. The judge never sees the brand name itself, so phrase `means`/`other` about the content, not the brand.",
                    "required": [
                      "means",
                      "other"
                    ],
                    "properties": {
                      "label": {
                        "type": "string"
                      },
                      "means": {
                        "type": "string",
                        "description": "What on-topic content is for this brand, when judging collected posts."
                      },
                      "other": {
                        "type": "string",
                        "description": "What should be treated as noise, when judging collected posts."
                      }
                    }
                  },
                  "customer_problems": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "audiences": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "markets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "creators": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "campaigns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "hashtags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exclusions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Topics withheld from every result, enforced server-side. Withheld rows are counted in `corpus.excluded_by_brand_profile` so the filtering is never silent."
                  },
                  "official_accounts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "handle",
                        "owner"
                      ],
                      "properties": {
                        "handle": {
                          "type": "string",
                          "description": "Normalized on save: lowercased, leading `@` stripped."
                        },
                        "platform": {
                          "type": "string",
                          "description": "Omit to match this handle on any platform."
                        },
                        "owner": {
                          "type": "string",
                          "description": "Must name an entry already in `brand_names` or `competitors`, or the entry rides back in `official_account_gaps`."
                        }
                      }
                    },
                    "description": "This brand's and its competitors' own accounts. A brand's own posts are never signal: posts from these accounts are withheld at read time from search, trending, share of voice, product and competitor results, and counted in `excluded_official`.",
                    "example": [
                      {
                        "handle": "kissusa",
                        "platform": "tiktok",
                        "owner": "KISS"
                      }
                    ]
                  },
                  "lens": {
                    "type": "string",
                    "enum": [
                      "cpg",
                      "music"
                    ],
                    "description": "The industry vocabulary every report uses for \"product\", \"competitor\", \"SKU\" and \"consumer\". Inferred from `category` when omitted."
                  }
                }
              },
              "examples": {
                "minimal": {
                  "summary": "The smallest useful profile",
                  "value": {
                    "brand_names": [
                      "KISS",
                      "KISS Nails"
                    ],
                    "competitors": [
                      "Glamnetics"
                    ],
                    "category": "press-on nails",
                    "exclusions": [
                      "recall"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved and active.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "approved"
                      ]
                    },
                    "version": {
                      "type": "integer"
                    },
                    "profile": {
                      "type": "object"
                    },
                    "official_account_gaps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "One message per `official_accounts` entry whose `owner` matches neither `brand_names` nor `competitors` in the request body just saved."
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TestKeyReadOnly"
          }
        }
      }
    },
    "/v1/trending": {
      "post": {
        "operationId": "findTrending",
        "summary": "Find trending videos",
        "description": "Ranked videos with a momentum score, a classification, and the evidence behind both.\n\n**A video is not trending because it has many views.** Each result is ranked as a percentile within a comparison group (same platform, comparable creators) and against the creator's own baseline, and a classification above `watchlist` requires at least **3 metric snapshots across at least 12 hours**. Anything thinner is capped at `watchlist` with `gated_by` explaining why, including videos with very large view counts.\n\nThe trend-level verdict is reported separately from the per-video ranking, because one video outperforming is virality, not a movement.\n\nCosts credits: one `search_request` plus one `content_enriched` per stored post read. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Omit for every platform in the corpus.",
                    "example": [
                      "tiktok",
                      "instagram"
                    ]
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^(\\d+[hd]|all)$",
                    "description": "How far back to look, e.g. `24h`, `7d`, `30d`. `all`, or omitting it, reads all time, newest first. An unparseable value is a 400; it is never silently widened.",
                    "example": "7d"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 25
                  },
                  "min_views": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "Ceiling on the charge for this call. The work always runs to completion; the charge is held at the smaller of the estimate and this ceiling, and `usage.charge_capped` says when the metered cost went above it. Results are complete either way. A server default applies when omitted."
                  }
                }
              },
              "examples": {
                "weeklyTikTok": {
                  "summary": "Last week on TikTok",
                  "value": {
                    "platforms": [
                      "tiktok"
                    ],
                    "window": "7d",
                    "limit": 25,
                    "max_cost_usd": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked results with their evidence.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/share-of-voice": {
      "post": {
        "operationId": "shareOfVoice",
        "summary": "Compare share of voice against competitors",
        "description": "Share of observed views between this brand and its configured competitors, over the library already collected.\n\n**This is not ad impressions.** Views are observed content views; an impression is an ad-delivery event. The two are not interchangeable and this response must never be presented as impression share.\n\n**Check `reliability` before quoting a percentage.** A library collected by searching for your own brand cannot measure your share of it: you dominate it by construction. The endpoint derives how the library was gathered from the collection runs behind it (`corpus_origin`) and refuses to endorse a split it cannot support, returning the numbers alongside the reason they should not be quoted.\n\nOrganic and paid activity are not separated: nothing in the library records whether a post was promoted.\n\nCosts credits: one `search_request` plus one `content_enriched` per stored post read. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Omit for every platform in the corpus.",
                    "example": [
                      "tiktok",
                      "instagram"
                    ]
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^(\\d+[hd]|all)$",
                    "description": "How far back to look, e.g. `7d`, `30d`, or `all`. Omitted reads all time, newest first.",
                    "example": "7d"
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "description": "Ceiling on the charge for this call. The work always runs to completion; the charge is held at the smaller of the estimate and this ceiling, and `usage.charge_capped` says when the metered cost went above it. Results are complete either way. A server default applies when omitted.",
                    "exclusiveMinimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The split, and whether it can be quoted.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareOfVoiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/competitors/report": {
      "post": {
        "operationId": "competitorReport",
        "summary": "Report on what a competitor changed",
        "description": "What changed for a competitor between the last two equal-length periods, decomposed into the creators, videos or platforms that caused it, with an annotated attention timeline naming the videos behind each peak.\n\n**The breakdown reconciles or it is not shown.** A waterfall's whole visual claim is \"here is the change, and here is what it was made of\", so the parts must sum to the whole exactly, including after truncation, which produces an explicit remainder row rather than dropping the tail. `reconciles` is computed, not assumed.\n\n**Check `comparable` first.** A period-over-period comparison across an unevenly collected library measures the collection, not the market: a competitor 'gaining' between two windows may only mean we searched harder the second time.\n\nComparative product and SKU bars are **not available**: the profile holds no competitor SKUs and nothing resolves a caption to a competitor's product line, so ranking them would mean inventing the categories. This is stated in `unavailable` rather than omitted.\n\nCosts credits: one `search_request` plus one `content_enriched` per stored post read across both periods. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "competitor": {
                    "type": "string",
                    "description": "Which competitor. Omit for the one with the most video in the window."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^(\\d+[hd]|all)$",
                    "description": "Length of EACH period. The prior period of equal length is the baseline.",
                    "example": "7d"
                  },
                  "dimension": {
                    "type": "string",
                    "enum": [
                      "creator",
                      "video",
                      "platform"
                    ],
                    "description": "How to break down the change. Defaults to creator."
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "description": "Ceiling on the charge for this call. The work always runs to completion; the charge is held at the smaller of the estimate and this ceiling, and `usage.charge_capped` says when the metered cost went above it. Results are complete either way. A server default applies when omitted.",
                    "exclusiveMinimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What changed, what caused it, and whether it can be read as movement.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitorReportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/products/insights": {
      "post": {
        "operationId": "productInsights",
        "summary": "What people say about a product or SKU",
        "description": "Purchase drivers, complaints, needs and use cases for this brand's products, drawn from the captions and comments of posts that name a product.\n\n**Scope: this brand's own catalog only.** A competitor's product or brand is out of scope here; use `POST /v1/competitors/report` instead. A `sku` that names none of this brand's own catalog products comes back as `unknown_sku: true`, an input error rather than an empty finding.\n\n**A theme mentioned twice is not a finding.** Themes below three distinct sources or two distinct voices are returned in `seen_not_established` rather than in `findings`: visible and countable, but never rankable. A two-mention theme rendered as a bar reads as a product problem, and that is the specific mistake this split exists to prevent.\n\n**Quotes are verbatim.** Every finding carries the exact text and the id it came from, because a finding whose evidence is a paraphrase cannot be checked.\n\n**Count voices, not mentions.** Five comments from one account is one person; `voices` is reported alongside `sources` so a single loud detractor cannot become \"a widely reported issue\".\n\nThemes are multi-label (\"love the texture but it broke me out\" is a driver and a complaint), so counts deliberately do not sum to `sources_considered`.\n\nReddit, retailer reviews and timestamped video evidence are **absent, not thin**, and say so in `unavailable`.\n\nCosts credits: one `search_request` plus one `content_enriched` per source read. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sku": {
                    "type": "string",
                    "description": "Narrow to one or more of this brand's own catalog products. An exact catalog name matches just that product; a generic term (\"knee sleeve\") matches every product whose name, line or variants contain those words, and the matched product(s) come back in `resolved_skus`. Not a competitor's product or brand: those belong on `POST /v1/competitors/report` instead. Omit for all configured products."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^(\\d+[hd]|all)$",
                    "example": "7d"
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "description": "Ceiling on the charge for this call. The work always runs to completion; the charge is held at the smaller of the estimate and this ceiling, and `usage.charge_capped` says when the metered cost went above it. Results are complete either way. A server default applies when omitted.",
                    "exclusiveMinimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Themes with their evidence, and what was not established.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductInsightsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/creators/discover": {
      "post": {
        "operationId": "discoverCreators",
        "summary": "Find creators for a product, topic or audience",
        "description": "Creators in this brand's library with median views, median engagement, best post, consistency, the competitors they also post about, and brand-safety flags.\n\n**Medians, not averages.** One 486K video against nine 3K videos averages to 51K, which describes none of the ten and flatters the creator enormously. `bestViews` is reported alongside so a one-hit creator is visible as one.\n\n**A creator with one post is not ranked.** One post has no median and no dispersion; those creators come back in `single_post_creators`, present and countable but never comparable with the ranked list.\n\n**Post count is a fact about our search.** Creators are here because their posts matched what was collected, so `postsInCorpus` is never their output.\n\n**A brand-safety flag is a hit, never a clearance.** Screening is keyword-based over captions only: it cannot see video content, audio, or posts outside this library. Zero flags means nothing matched, not that a creator is safe, and `safety_statement` must travel with any safety claim.\n\nFollower counts, demographics and audience overlap are not collected, so nothing here says whether a creator's audience is yours. Observed views are not reach.\n\nCosts credits: one `search_request` plus one `content_enriched` per stored post read. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sku": {
                    "type": "string",
                    "description": "Creators who posted about this product. Must be a product name from the profile, not the brand name."
                  },
                  "topic": {
                    "type": "string",
                    "description": "Creators whose captions mention this term."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^(\\d+[hd]|all)$",
                    "example": "7d"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "description": "Ceiling on the charge for this call. The work always runs to completion; the charge is held at the smaller of the estimate and this ceiling, and `usage.charge_capped` says when the metered cost went above it. Results are complete either way. A server default applies when omitted.",
                    "exclusiveMinimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked creators, those seen once, and what was not screened.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorDiscoveryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/campaigns/analyze": {
      "post": {
        "operationId": "analyzeCampaign",
        "summary": "Measure social response to a campaign or launch",
        "description": "What happened around a campaign or product launch: an annotated timeline, a reconciling contribution waterfall by SKU, creator, video or platform, and an ownership split, over equal-length windows either side of the launch.\n\n**This is not paid-owned-earned; it is owned versus not-owned.** Owned is derivable, because a post from a connected account is the brand's. Paid versus earned is not derivable from anything: a sponsored creator post and an organic fan post are identical in this library. Caption-based `#ad` detection was considered and rejected: disclosure is inconsistent, and treating its absence as evidence of organic reach would be worse than having no split. Two buckets that are true beat three where one is invented.\n\n**It is not causal.** There is no control group and no counterfactual. Anything rising for an unrelated reason rises here too, so this describes what happened around the launch, not what the launch caused.\n\n**Response by market is unavailable**: posts carry no country, region or language. The markets on the brand profile describe who the brand sells to, not where a viewer was.\n\nEqual-length windows are used on both sides deliberately: comparing \"since launch\" against \"everything before\" makes the lift depend on how far back the library happens to reach.\n\nCosts credits: one `search_request` plus one `content_enriched` per stored post read across both windows. Price it first with `POST /v1/estimate`.",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "launch_at": {
                    "type": "integer",
                    "description": "Launch time, unix ms. Defaults to one window ago."
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^(\\d+[hd]|all)$",
                    "description": "Length of EACH side of the launch.",
                    "example": "7d"
                  },
                  "sku": {
                    "type": "string"
                  },
                  "term": {
                    "type": "string",
                    "description": "Narrow to captions containing this term, e.g. a campaign hashtag."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dimension": {
                    "type": "string",
                    "enum": [
                      "sku",
                      "creator",
                      "video",
                      "platform"
                    ]
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "description": "Ceiling on the charge for this call. The work always runs to completion; the charge is held at the smaller of the estimate and this ceiling, and `usage.charge_capped` says when the metered cost went above it. Results are complete either way. A server default applies when omitted.",
                    "exclusiveMinimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What moved around the launch, and what cannot be said about it.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignReportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/search/videos": {
      "post": {
        "operationId": "searchVideos",
        "summary": "Search the video library",
        "description": "Find videos in this workspace's library by topic, product or creator.\n\n**Read `search_method` on every response.** This matches words in stored captions, creator handles, each video's stored analysis (summary, hook, themes, claims) when one has been run, and reviewed pilot identity evidence when present. Timed transcripts, the on-screen record and audio are not searched here (ask about those with `POST /v1/corpus/ask`), so an empty result means *not found in what is searchable*, never *no such video exists*. That distinction matters if you are about to report that a topic has no coverage.\n\nCosts credits: one `search_request` plus one `content_enriched` per stored post read.",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "window": {
                    "type": "string",
                    "example": "7d",
                    "pattern": "^(\\d+[hd]|all)$",
                    "description": "How far back to look, e.g. `24h`, `7d`, `30d`. `all`, or omitting it, reads all time, newest first. An unparseable value is a 400; it is never silently widened."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200,
                    "default": 25
                  },
                  "min_views": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "Ceiling on the charge for this call. The work always runs to completion; the charge is held at the smaller of the estimate and this ceiling, and `usage.charge_capped` says when the metered cost went above it. Results are complete either way. A server default applies when omitted."
                  }
                }
              },
              "examples": {
                "byTopic": {
                  "summary": "Search by topic",
                  "value": {
                    "query": "press on nails application",
                    "limit": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching videos, with a statement of what was actually searched.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/corpus/ask": {
      "post": {
        "operationId": "askCorpus",
        "summary": "Ask a question of the analyzed videos",
        "description": "Answer a natural-language question from what the videos in this workspace actually SAY and SHOW, with a citation (creator, URL, clip timestamps) under every paragraph. This is the brainstorming surface: ask \"what do people complain about\", \"how do the videos that show the product differ from the ones that don't\", or \"which hooks recur\", and follow up.\n\nRetrieval is a search over the workspace's video index, re-ranked with the stored analyses; each of the top `hits` videos is then answered from its stored timed transcript and on-screen record first, and read live from the footage only when that text cannot answer. When a live read fails (asset gone, provider quota, time budget) the stored analysis stands in and `sources[].method` says so. When two or more videos are cited, `across_videos` counts their sentiment, format, setting, products and visible actions so a comparison rests on numbers.\n\n**`answer: null` is a 200, not an error.** Before anything is searched or held, every video in the library (inside `window`, when given) must be analyzed: otherwise the answer is `reason: \"needs_analysis\"` with the count and price of catching up, unbilled, and `POST /v1/library/analyze` starts it. `no_index` means nothing has been indexed yet (unbilled). `no_hits` means no indexed video matched within the window: *not in the analyzed videos*, never *nobody said it*. `unsupported_question` means the question itself (audience demographics, sales or revenue, ad spend, or whether something is trending now) is not something any video could ever answer, decided before the index is checked, unbilled. Only one video per duplicate cluster is indexed, so `index_videos` is smaller than the library.\n\nCosts credits: one `corpus_question` per question answered (including `no_hits`), plus one `video_read` per video whose footage was read live for this ask. Answers from the stored transcript or on-screen record (`read_transcript`), from the answer cache (`cached: true`), from stored analysis, or unanswered are not reads and are not billed. Nothing is billed for `needs_analysis`, `no_index`, `unsupported_question`, or a result where every hit degraded and no footage was read live.",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question"
                ],
                "properties": {
                  "question": {
                    "type": "string",
                    "maxLength": 1000,
                    "description": "The question, in plain language, e.g. \"what do founders say about fundraising?\""
                  },
                  "hits": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 8,
                    "description": "How many top-ranked videos are answered. Also the price ceiling: at most one `video_read` per hit, billed only for footage actually read live, on top of the `corpus_question`."
                  },
                  "window": {
                    "type": "string",
                    "example": "7d",
                    "pattern": "^(\\d+[hd]|all)$",
                    "description": "How far back to look, e.g. `24h`, `7d`, `30d`. `all`, or omitting it, reads all time, newest first. An unparseable value is a 400; it is never silently widened."
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "Ceiling on the charge for this call. The work always runs to completion; the charge is held at the smaller of the estimate and this ceiling, and `usage.charge_capped` says when the metered cost went above it. Results are complete either way. A server default applies when omitted."
                  },
                  "video_ids": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string"
                    },
                    "description": "Ask only these videos: the `post_id` of earlier citations, or ids from search or list results. A follow-up about the videos an answer cited stays on them instead of searching the whole library. Every named video that is analyzed is read, and `hits` defaults to how many were named. Only these videos have to be analyzed for the ask to proceed. An id that is not a video in this library is a `400` naming it."
                  },
                  "libraries": {
                    "type": "string",
                    "enum": [
                      "this",
                      "all"
                    ],
                    "default": "this",
                    "description": "`this` asks this workspace's library. `all` asks every Pepo library's analyzed videos, for when this one is thin on a subject: billed like any ask, not gated on this library's unanalyzed videos, and each citation carries `in_your_library`. `POST /v1/library/add` keeps the others at $0.02 each, with their analysis. Cannot be combined with `video_ids`."
                  }
                }
              },
              "examples": {
                "founders": {
                  "summary": "What founders say",
                  "value": {
                    "question": "what do founders say about raising a seed round?",
                    "hits": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer with citations, or `answer: null` with a `reason` when there is nothing to answer from.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorpusAskResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "$ref": "#/components/responses/ProfileRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/v1/corpus/coverage-gaps": {
      "get": {
        "operationId": "coverageGaps",
        "summary": "Questions the library could not answer",
        "description": "Recent questions asked through `POST /v1/corpus/ask` and `POST /v1/search/videos`, grouped into thin or no coverage versus answered fine. `thin` is exactly what each handler already knew at response time, never a threshold recomputed here: an ask that returned a `reason` (`no_index`, `no_hits`, `unsupported_question`, `needs_analysis`, `analysis_running`), or a search that matched nothing (`empty_corpus` when the library itself was empty for the filters, `no_caption_match` when it was not). Each group carries its count, first and last asked timestamps, and up to 50 of the underlying questions with their own result count and reason.\n\nFree. Use this to see what this workspace is asking that the library cannot answer, then close the gap: grow search terms with `POST /v1/monitors` (a new `collection_topup` schedule) or `POST /v1/monitors/{monitor_id}/update` (`add_subjects` on an existing one), or fix an on-category miss with `POST /v1/brand-profile` (`judge_category`, `hashtags`, `brand_names`). This endpoint only surfaces the gap; it never changes a schedule or a profile itself.\n\n`truncated: true` means the scan hit its 2,000-row cap before covering the whole window; the counts are then a floor, not a total. Live keys only: the log contains verbatim questions from live users, so test keys receive `403 test_key_forbidden`, the one read endpoint test mode does not get.",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "window_days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            },
            "description": "How far back to look. Defaults to 30, capped at 90. Must be a positive number."
          }
        ],
        "responses": {
          "200": {
            "description": "Recent questions, grouped by coverage.",
            "headers": {
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "window_days",
                    "scanned",
                    "truncated",
                    "thin",
                    "answered",
                    "request_id"
                  ],
                  "properties": {
                    "window_days": {
                      "type": "integer"
                    },
                    "scanned": {
                      "type": "integer",
                      "description": "Rows read from the window, up to the 2,000-row scan cap."
                    },
                    "truncated": {
                      "type": "boolean",
                      "description": "The scan hit its cap: there may be more questions in the window than these counts show."
                    },
                    "thin": {
                      "$ref": "#/components/schemas/CoverageGapGroup"
                    },
                    "answered": {
                      "$ref": "#/components/schemas/CoverageGapGroup"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Test key: this endpoint serves verbatim live-user question text and is refused in test mode (`test_key_forbidden`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "type": "test_key_forbidden",
                    "message": "Test keys cannot read coverage gaps: the log contains verbatim questions from live users. Use a live key.",
                    "request_id": "req_example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/library/analyze": {
      "post": {
        "operationId": "analyzeLibrary",
        "summary": "Analyze the videos waiting in the library",
        "description": "The yes to a `needs_analysis` answer from `POST /v1/corpus/ask`: analyzes the videos in the library that have not been analyzed yet, including rows a `collect_only` collection left waiting. Nothing new is collected. Reddit rows, excluded rows, the brand's own posts and the non-representative copies of a duplicate cluster are skipped: they were never part of what an ask reads.\n\n**Price.** Each waiting video is priced for the steps it still needs: one `video_analyzed` ($0.125) if it has no stored analysis, one `video_indexed` ($0.10) for the search index, and one `content_enriched` ($0.002) for the media fetch. There is no subject check in a library pass. A video up to 3 minutes long is one unit of `video_analyzed` and `video_indexed`; past 3 minutes it is one more unit per started 72 seconds, so a long video costs more than a short clip rather than being sold below cost. A video of unknown length is priced as a short one (see `library.videos_of_unknown_length`). The estimate is held when the pass starts and settled once it finishes for the steps that actually ran, never above the hold.\n\n**Passes.** One pass may hold at most the call cap: `max_cost_usd` when given, else the workspace's own default call cap, else the endpoint default. The pass takes the waiting videos that fit under it, in library order; `videos_left_for_a_later_pass` says how many remain, and the next ask quotes them. It is refused with `budget_too_low` only when not even one waiting video fits.\n\nReturns 202 once accepted; poll `GET /v1/collections/{collection_id}` for progress, then ask the same question again through `POST /v1/corpus/ask` once it finishes. Returns 200 with `started: false` and no charge when nothing is waiting, or when a pass is already running for this brand, in which case `library.analysis_in_progress` names it.",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "max_cost_usd": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "Optional ceiling for this pass. The pass takes only the waiting videos whose estimated cost fits under it; if not even one fits, the call is refused with `budget_too_low` and nothing starts."
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Start with no cap",
                  "value": {}
                },
                "capped": {
                  "summary": "Refuse above a ceiling",
                  "value": {
                    "max_cost_usd": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nothing was started: either every analyzable video is already analyzed, or a pass is already running for this brand. Nothing was charged.",
            "headers": {
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "started",
                    "library",
                    "note",
                    "request_id"
                  ],
                  "properties": {
                    "started": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "library": {
                      "$ref": "#/components/schemas/LibraryStatus"
                    },
                    "note": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Accepted. The analysis run has started; it is not finished.",
            "headers": {
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "started",
                    "collection_id",
                    "corpus_run_id",
                    "collection",
                    "videos_in_this_pass",
                    "videos_left_for_a_later_pass",
                    "library",
                    "note",
                    "request_id"
                  ],
                  "properties": {
                    "started": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "collection_id": {
                      "type": "string",
                      "description": "The collection this pass runs under. Poll it with `GET /v1/collections/{collection_id}`."
                    },
                    "corpus_run_id": {
                      "type": "string"
                    },
                    "collection": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Collection"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "The same view `GET /v1/collections/{collection_id}` returns, so a client can draw the pass like any other collection."
                    },
                    "videos_in_this_pass": {
                      "type": "integer",
                      "description": "Waiting videos this pass will analyze."
                    },
                    "videos_left_for_a_later_pass": {
                      "type": "integer",
                      "description": "Waiting videos that did not fit under this pass's cap. Non-zero means another pass is needed once this one finishes."
                    },
                    "library": {
                      "$ref": "#/components/schemas/LibraryStatus"
                    },
                    "note": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Either `invalid_request` (an unknown field, or `max_cost_usd` is not a positive number) or `budget_too_low` (not even one waiting video fits under `max_cost_usd` or the call cap, or the workspace's own call cap holds less than this pass is estimated at). Nothing is started or charged either way.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InvalidRequestError"
                    },
                    {
                      "$ref": "#/components/schemas/LibraryBudgetTooLowError"
                    }
                  ]
                },
                "examples": {
                  "capTooLow": {
                    "summary": "max_cost_usd below the cheapest waiting video",
                    "value": {
                      "error": {
                        "type": "budget_too_low",
                        "message": "Analyzing even one of the 40 videos waiting in the library is estimated at $0.23, above the $0.10 this call may spend. Nothing was started.",
                        "request_id": "req_…",
                        "estimated_cost_usd": 0.227,
                        "field": "max_cost_usd"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/TestKeyReadOnly"
          },
          "500": {
            "description": "The pass could not be opened or prepared. Anything held for it has been returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{video_id}": {
      "get": {
        "operationId": "getVideo",
        "summary": "Get one video",
        "description": "Full detail for a single video: engagement, the metric history behind any momentum claim, a sample of comments with their tone **and the coverage of that tone**, the stored analysis of what the video says and shows (`analysis`), and the playable file when one was captured (`media`).\n\n`media.video_url_kind` tells you what `media.video_url` is worth: `stored` is a durable copy that keeps playing, `cdn_signed` is a signed platform url that expires within hours of ingest: play it if it loads, but keep `video.thumb_url` and `video.url` as the fallback.\n\nUse the coverage. A tone split computed over 3 classified comments of 1,840 sampled is not the same claim as one computed over 1,800, and the split alone cannot tell them apart. Free.",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `video.id` from a search or trending result."
          }
        ],
        "responses": {
          "200": {
            "description": "The video, its observation history, and its comment reaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No video with that id in this workspace. Returned identically for an id that does not exist and one belonging to another workspace: the difference would be an existence oracle across tenants.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/records": {
      "get": {
        "operationId": "listRecords",
        "tags": [
          "Library"
        ],
        "summary": "Page the video library",
        "description": "Cursor-paged rows of the library with a quality assessment. Free: these rows were already paid for at collection, and charging to read them would make careful paging the expensive option. Newest first by publish date. Rows the subject check excluded are withheld unless `include_excluded=true`. Use `evidence_status` to page one pilot evidence status without scanning unrelated rows; the filter is applied before pagination, and filtered page counts are not whole-library counts. `format=csv` returns `text/csv` instead of JSON. Each JSON row carries `sentiment`, the video's overall valence from its stored analysis (null when it has not been analyzed), so a caller can split a page by sentiment without calling `GET /v1/videos/{video_id}` per row.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque; pass back what the previous page returned."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated."
          },
          {
            "name": "evidence_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "reviewed_family",
                "caption_mention",
                "rejected",
                "conflicted",
                "unknown"
              ]
            },
            "description": "Exact pilot evidence status, applied before pagination. Anything other than the five values is a 400. `rejected`, `conflicted` and `unknown` rows are ineligible, so they are withheld unless `include_excluded=true` is also set, for an audit."
          },
          {
            "name": "include_excluded",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Audit only. Include rows the subject check excluded (or pilot evidence marked ineligible). Returned rows say so in `judgeExcluded`. Only the exact value `true` turns it on."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of rows. With `format=csv`, the same rows as `text/csv`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RecordRow"
                      }
                    },
                    "next_cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "quality": {
                      "type": "object",
                      "description": "Row count, platform mix, duplicates, per-field gaps with their consequence, real time span, stated limitations, a verification block distinguishing 'complete' from 'confirmed', and stacked composition. `composition.unavailable` names the axes with no data behind them (market has no geography anywhere in the library; category is a single brand-level value, so its bar would be one segment at 100%): report those as unavailable rather than as empty. Describes this page only."
                    },
                    "request_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "records",
                    "next_cursor",
                    "has_more",
                    "quality",
                    "request_id"
                  ]
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "`evidence_status` is not one of the five values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/collections/preview": {
      "post": {
        "operationId": "previewCollection",
        "summary": "Preview what a subject would collect",
        "description": "One provider search page per platform for `subject`, exactly the search `POST /v1/collections` would run, and nothing else: no row is written and no run is started. Call it before a collection whenever the subject is a person, band, product nickname or rare word. Keyword search on the platforms matches fuzzily, and a collection started on a bad match pays for collection and the subject check before finding out.\n\n`mention_rate` is the share of returned posts whose caption names the subject, by the same rule the subject check uses, so a high rate here is the same signal a full collection would find. `verdict` reads it: `looks_right` at 0.6 or above, `mixed` at 0.25 or above, `looks_wrong` below that, and an empty page is `looks_wrong`. `suggestion` says what to try instead when it is not `looks_right`.\n\nTakes the same `window` as `POST /v1/collections` (default `7d`): probe with the window you intend to collect with, since a rare subject checked against the default can come back legitimately empty.\n\nCosts one `search_request` ($0.01), however many platforms are probed. Nothing is charged when the provider call fails. Live keys only.",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject"
                ],
                "additionalProperties": false,
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "The search phrase to probe, as you would pass it to `POST /v1/collections`."
                  },
                  "platforms": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "tiktok",
                        "instagram"
                      ]
                    },
                    "description": "Defaults to both. Reddit is not accepted: its search does not fail in the fuzzy way this endpoint exists to catch."
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^\\d+[hd]$",
                    "description": "How far back the probe looks, parsed exactly as `POST /v1/collections` parses it. Defaults to `7d`."
                  }
                }
              },
              "examples": {
                "rare": {
                  "summary": "A rare artist name",
                  "value": {
                    "subject": "quarters of change",
                    "window": "365d"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The page, how much of it names the subject, and what to do next.",
            "headers": {
              "X-Pepo-Cost-Usd": {
                "$ref": "#/components/headers/Cost"
              },
              "X-Pepo-Balance-Usd": {
                "$ref": "#/components/headers/Balance"
              },
              "X-Pepo-Request-Id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionPreviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/TestKeyReadOnly"
          },
          "502": {
            "description": "The provider call failed. The message carries the provider's own error. The hold is released and nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailable"
          }
        }
      }
    },
    "/v1/collections": {
      "post": {
        "operationId": "createCollection",
        "summary": "Start a collection run",
        "description": "Starts an unattended job that searches a provider for `subject` and adds matching videos to this workspace's library. `budget_usd` is required: a collection spends provider credits unattended, so its ceiling is never optional. Price it first with `POST /v1/estimate` (`endpoint: \"/v1/collections\"`) and pass that estimate's `expected` cost as `budget_usd`. For a person, band or rare word, check what the provider actually returns first with `POST /v1/collections/preview`.\n\nReturns 202: the run is accepted, not finished. Rows land as they are collected and are searchable immediately, flagged unverified until judged. Billing settles at the end for what actually landed, never for the estimate. Poll `GET /v1/collections/{collection_id}` for progress.\n\nBy default the run carries the **full treatment**: once collection ends, a corpus run checks each row is really about the subject, enriches metrics, clusters near-duplicates, analyzes and indexes each video (transcript, on-screen record, summary), and collects and reads about 20 comments per post. `budget_usd` must cover collection and treatment together (estimate with `treatment` set); the collection settles its own line and the corpus run settles once more, at the end, for the stages that actually ran. Pass `treatment: \"collect_only\"` for rows alone.",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject",
                  "budget_usd"
                ],
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "The search phrase the provider collects for, e.g. \"y combinator\". One subject per run: start several runs for several subjects."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "tiktok",
                        "instagram",
                        "reddit"
                      ]
                    },
                    "description": "Defaults to tiktok and instagram (video). Add \"reddit\" for text posts and comment threads: reddit rows are checked for subject, de-duplicated, and have their comments collected and read, but are never watched or added to the video search index."
                  },
                  "window": {
                    "type": "string",
                    "pattern": "^\\d+[hd]$",
                    "description": "How far back to collect, e.g. \"7d\", \"30d\". Defaults to 7d."
                  },
                  "target": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5000,
                    "default": 100,
                    "description": "How many videos to collect. Values outside 1 to 5000 are clamped."
                  },
                  "budget_usd": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "Required hard ceiling for this run's spend."
                  },
                  "treatment": {
[...]
